<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MatchingDAO">

      <select id="getMatchList" parameterType="hashmap" resultType="hashmap">
           SELECT a.mat_name, a.mat_date, a.mat_time, a.mat_code, a.mat_cancle, b.club_code, b.club_name, b.club_rpic, b.ctmid_code, nvl(aaa.cnt , 0) AS wincount, nvl(bbb.cnt1 , 0) AS lostcount, nvl(ccc.winning, 0) AS winning FROM MATCHING a
           LEFT JOIN CLUB b ON a.club_code = b.club_code 
           LEFT JOIN (SELECT CLUB_CODE, count(*) AS cnt FROM  MATCHINGINFO m2 WHERE  m2.MATINFO_RES='승' GROUP BY CLUB_CODE) aaa 
           ON a.CLUB_CODE = aaa.club_code
           LEFT JOIN (SELECT CLUB_CODE, count(*) AS cnt1 FROM  MATCHINGINFO m2 WHERE  m2.MATINFO_RES='패' GROUP BY CLUB_CODE) bbb 
           ON a.CLUB_CODE = bbb.club_code 
           LEFT JOIN (SELECT a.CLUB_CODE, a.club_name, COUNT(b.MATINFO_RES) AS gamenum, NVL((SELECT COUNT(b.MATINFO_RES) FROM MATCHINGINFO b WHERE MATINFO_RES = '승' AND a.CLUB_CODE = b.CLUB_CODE ) / DECODE((COUNT(b.MATINFO_RES)), 0, NULL, (COUNT(b.MATINFO_RES)))*100, 0) || '%' AS winning FROM CLUB a,  MATCHINGINFO b WHERE a.CLUB_code = b.CLUB_CODE GROUP BY a.club_name, a.CLUB_CODE) ccc
           ON a.CLUB_CODE = ccc.club_code WHERE a.MAT_DATE > SYSDATE 
      </select>   
         
      <select id="selectMatching" resultType="integer">
         SELECT SEQ_MATCHING.nextval FROM dual
      </select>
      
      <insert id="insertMatching" parameterType="hashmap">
         INSERT INTO MATCHING (mat_code, mat_name, mat_date, mat_time, mat_cancle, club_code)
         VALUES(${match.mat_code}, '${match.mat_name}', '${match.mat_date}', '${match.mat_time}', 'N', ${club.club_code})
      </insert>
      
      <insert id="insertMatchingInfo" parameterType="hashmap">
         INSERT INTO MATCHINGINFO (matinfo_code, mat_code, club_code, matinfo_join)
         VALUES(seq_matchinginfo.nextval, ${match.mat_code}, ${club.club_code}, 'Y')
      </insert>
      
      <insert id="insertJoinMatching" parameterType="hashmap">
        INSERT INTO MATCHINGINFO (matinfo_code, mat_code, club_code, matinfo_join)
        VALUES(seq_matchinginfo.nextval, ${match.mat_code}, ${club.club_code}, 'N')
      </insert>
      
     <select id="getAllMatch" parameterType="hashmap" resultType="hashmap">
         SELECT b.club_name, a.club_code, m.MAT_NAME, a.matinfo_code, nvl(ccc.winning, 0) AS winning FROM CLUB b
         LEFT JOIN MATCHING m ON b.CLUB_CODE = m.CLUB_CODE
         LEFT JOIN MATCHINGINFO a ON a.MAT_CODE = m.MAT_CODE 
         LEFT JOIN (SELECT a.CLUB_CODE, a.club_name, COUNT(b.MATINFO_RES) AS gamenum, NVL((SELECT COUNT(b.MATINFO_RES) FROM MATCHINGINFO b WHERE MATINFO_RES = '승' AND CLUB_CODE = a.CLUB_CODE) / DECODE((COUNT(b.MATINFO_RES)), 0, NULL, (COUNT(b.MATINFO_RES)))*100, 0) || '%' AS winning FROM CLUB a,  MATCHINGINFO b WHERE a.CLUB_code = b.CLUB_CODE GROUP BY a.club_name, a.CLUB_CODE) ccc
         ON a.CLUB_CODE = ccc.club_code WHERE m.MAT_DATE > SYSDATE AND a.matinfo_join = 'N' AND m.CLUB_CODE = ${club.club_code}
      </select>
      
      <update id="upMatching" parameterType="matchinginfo">
         UPDATE MATCHINGINFO SET MATINFO_JOIN= 'Y' WHERE matinfo_code= #{matinfo_code}
      </update>

      <delete id="delMatching" parameterType="matchinginfo">
         DELETE FROM MATCHINGINFO WHERE matinfo_code = #{matinfo_code}
      </delete>
      
      <select id="getwincount" parameterType="club" resultType="int">
      SELECT COUNT(MATINFO_CODE) FROM MATCHINGINFO WHERE CLUB_CODE = #{ club_code } AND MATINFO_RES='승' 
      </select>
      
      <select id="getlostcount" parameterType="club" resultType="int">
      SELECT COUNT(MATINFO_CODE) FROM MATCHINGINFO WHERE CLUB_CODE = #{club_code} AND MATINFO_RES='패'
      </select>
      
      <select id="getwinning" parameterType="club" resultType="int">
         SELECT a.club_name, COUNT(b.MATINFO_RES) AS 경기수, (SELECT COUNT(b.MATINFO_RES) FROM MATCHINGINFO b WHERE MATINFO_RES = '승') / COUNT(b.MATINFO_RES) * 100 || '%' AS 승률 FROM CLUB a,  MATCHINGINFO b
         WHERE a.CLUB_code = b.CLUB_CODE AND a.CLUB_CODE = #{club_code}
         GROUP BY a.CLUB_NAME;
      </select>
      
      <select id="getClubCode" parameterType="hashmap" resultType="Integer">
         SELECT c.club_code FROM CLUB c, MEMCLUB m WHERE c.CLUB_CODE = m.CLUB_CODE AND m.MEM_CODE = ${member.mem_code} AND m.MEMCT_CODE = 1
      </select>
      
      <select id="getMatCode" parameterType="hashmap" resultType="Integer">
      		SELECT mat_code FROM MATCHINGINFO WHERE club_code = ${club.club_code} AND mat_code = ${matching.mat_code}
      </select>
      
      
</mapper>